<div class="row">
    <div id="HEADER">

        <div id="BTNS">
            <a (click)="paginaHome()">
        <p id="EMPRESA">Mi Empresa</p>
    </a>
        <div  id="BARRA1">
            <svg xmlns="http://www.w3.org/2000/svg" width="1" height="53" viewBox="0 0 1 53">
                <line id="Línea_PUNTOS_DE_VENTA" data-name="Línea PUNTOS DE VENTA" y2="53" transform="translate(0.5)" fill="none" stroke="#909090" stroke-width="1"/>
              </svg>
        </div>
        
        <a (click)="paginaVen()">
        <div>
                
        <p id="VENTA">Puntos de venta</p>
        
        </div>
        </a>
        <div id="BARRA2">
            <svg xmlns="http://www.w3.org/2000/svg" width="1" height="53" viewBox="0 0 1 53">
                <line id="Línea_PUNTOS_DE_VENTA" data-name="Línea PUNTOS DE VENTA" y2="53" transform="translate(0.5)" fill="none" stroke="#909090" stroke-width="1"/>
              </svg>
        </div>
        <a (click)="paginaArt()">
        <div>
        <p id="Articulos">Articulos</p>
    </div>
    </a>
        <div id="BARRA3">
            <svg xmlns="http://www.w3.org/2000/svg" width="1" height="53" viewBox="0 0 1 53">
                <line id="Línea_PUNTOS_DE_VENTA" data-name="Línea PUNTOS DE VENTA" y2="53" transform="translate(0.5)" fill="none" stroke="#909090" stroke-width="1"/>
              </svg>
        </div>
        <a (click)="paginaAbout()">
        <p id="REPORTES">About Us</p>
    </a>
          
        </div>
        <a routerLink="">
    <div id="SESSION">
        <p id="close">Sign Out</p>
    </div>
</a>
</div>
</div>
    