<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="63" height="76" viewBox="0 0 93 96">
    <defs>
      <filter id="Contenedor_AGREGAR" x="0" y="3" width="93" height="93" filterUnits="userSpaceOnUse">
        <feOffset dy="3" input="SourceAlpha"/>
        <feGaussianBlur stdDeviation="3" result="blur"/>
        <feFlood flood-opacity="0.161"/>
        <feComposite operator="in" in2="blur"/>
        <feComposite in="SourceGraphic"/>
      </filter>
    </defs>
    <g id="Agregar" transform="translate(9)">
      <g transform="matrix(1, 0, 0, 1, -9, 0)" filter="url(#Contenedor_AGREGAR)">
        <g id="Contenedor_AGREGAR-2" data-name="Contenedor AGREGAR" transform="translate(9 9)" fill="#fff" stroke="#707070" stroke-width="1">
          <circle cx="37.5" cy="37.5" r="37.5" stroke="none"/>
          <circle cx="37.5" cy="37.5" r="37" fill="none"/>
        </g>
      </g>
      <text id="_" data-name="+" transform="translate(14)" fill="#5b5b5b" font-size="60" font-family="SegoeUI-Bold, Segoe UI" font-weight="700" letter-spacing="0.08em"><tspan x="2.789" y="65">+</tspan></text>
    </g>
  </svg>
  