
  body {

    background-color: rgb(231, 231, 231);
  }


  h1 {
    color: rgb(255, 255, 255);
  }

  h2 {
    color: rgb(46, 46, 46);
    font-size: xx-large;
  }

  h3 {
    color: rgb(204, 117, 192);
    font-size: xx-large;
    font-size: 4.2rem;
    text-align: center;

  }

  .TitleAndName {
    
    text-align: center;
    padding: 20px;
    background-color: rgb(204, 117, 192);
    height: 35%;

  }

  p {

    font: "SEGOE UI";
    font-size: 25;


  }

  .container {

    padding-top: 20px;
    text-align: justify;

  }

  .container-fluid {

    padding-bottom: 30px;
    text-align: justify;

  }


  .row {

    box-sizing: border-box;
    padding-bottom: 30px;
  }

  #Articulos {

    background-color: rgb(195, 130, 107);
    text-align: center;
    font-size: 20px;
    padding: 30px;

  }

  #PuntosDeVenta {

    background-color: rgb(72, 189, 150);
    text-align: center;
    font-size: 20px;
    padding: 30px;


  }

  #Reportes {

    background-color: rgb(177, 160, 117);
    text-align: center;
    font-size: 20px;
    padding: 30px;

  }

  .contain {
    object-fit: contain;
  }
  
  #IM{
    
    text-align: center;
  }
  #Portada {

    text-align: center;

  }
