<h2 id="TE">
    Sobre nosotros
</h2>
<div id="Parrafo">
<p>Este Proyecto nacio de la idea de apoyar a las pequeñas familias con negocios propios y proveerles de una solucion a un problema cada vez mas recurrente, la creacion y manejo de empresas. Esto surgio a raiz de que uno de los miembros del equipo comento que en su casa su mama habia iniciado un Proyecto personal, pero el inventario se manejaba completamente en papel. Este recurso, a pesar de ser valido, proveer problemas a la hora de contar producto, ya que nadie es perfecto y cualquier calculo puede salir mal.</p>
</div>
<h2 id="TE2">
    Funciones de Inventory Mangement
</h2>
<div id="LISTA">

    <ul class="l">
        <li>Administrar informacion de tu empresa</li>
        <p>Por el momento puedes cambiar tu email y Contraseña</p>
        
        <li>Administrar inventario de articulos y de puntos de venta
            <p>Puedes crear,editar o eliminar articulos y puntos de venta, puedes agregar articulos a un punto de venta.</p>
        </li>
        <li>Coming Soon
            <p>Subir imagenes</p>
            
            <p>Reportes de ventas</p>
        </li>
    </ul>
</div>
<h2 id="TE3">
    Conoce al Equipo
</h2>

<div id="LISTA2">

    <ul class="l">
        <li>Ivan Villegas</li>
        <p>Nacio en Tepatitlan,Jalisco</p>
        <p>Tiene altos estandares y buenos gustos en peliculas (Avengers,Eternals,Morbius)</p>
        <img  src="../../../assets/imagenes/IVAN.png" id="FR">
        <li>Dr. Jorge Rocha
            <p>Doctorado en Xenophobia</p>
            <p>Pasatiempo favorito: ser clasista</p>
            <p>Juega mucho fortinayti y la baba gee</p>
            <img  src="../../../assets/imagenes/JESUS.jpg" id="FR">
        </li>
        <li>Armando Perez
            
            <p>NVIDIA GeForce RTX 3080</p>
            <p>Intel Core i5-11400F</p>
            <p>16GB Memory</p>
            <p>512GB SSD</p>
            <p>Joder, es muy bueno en el warzone</p>
            
            <img  src="../../../assets/imagenes/ARMANDO.jpg" id="FR">
        </li>
        
        <li>Wilbert Sandoval
            <p>Esquizofrenia</p>
            
            <div >
                
            <img  src="../../../assets/imagenes/FRAMES.png" id="FR">
            
            <img  src="../../../assets/imagenes/CSS.png" id="FR">
            </div>
        </li>
    </ul>
</div>
<app-header></app-header>
