
<div class="row">
    <div class="col l12 ">
        <app-store-square></app-store-square>
        <app-store-square></app-store-square>
        <app-store-square></app-store-square>
        <app-store-square></app-store-square>
        
        <app-store-square></app-store-square>
        
        <app-store-square></app-store-square>
        
        <app-store-square></app-store-square>
        
        <app-store-square></app-store-square>

        
        <app-store-square></app-store-square>
    </div>
  </div>
