
#CONT{

width: 250px;
height: 317px;
/* UI Properties */
opacity: 1;
}
#CUADRO{
    position: absolute;
   
    width: 250px;
    height: 317px;
    /* UI Properties */
    border: 1px solid var(--unnamed-color-707070);
    background: transparent linear-gradient(180deg, #000000 0%, #54545400 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000066;
    border: 1px solid #707070;
    border-radius: 30px;
    opacity: 1;
}
#NOMBRE{
    position:   relative;
    top: -3%;
    left: 10%;
width: 200px;
height: 40px;
/* UI Properties */
color: var(--unnamed-color-ffffff);
text-align: center;
font: normal normal bold 30px/40px Segoe UI;
letter-spacing: 0px;
color: #ffffff;
opacity: 1;
}
#IMAGEN{
    position: absolute;
width: 250px;
height: 317px;
/* UI Properties */
border: 1px solid var(--unnamed-color-707070);
background: transparent 0% 0% no-repeat padding-box;
box-shadow: inset 0px 3px 6px #00000066;
border: 1px solid #707070;
border-radius: 30px;
opacity: 1;
}
#PRICE{
    position:   relative;
    top: -9%;
    left: 33%;
width: 48px;
height: 40px;
/* UI Properties */
color: var(--unnamed-color-ffffff);
text-align: center;
font: normal normal normal 30px/40px Segoe UI;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}