<div id="CUADRO">
    <div id="LOGO_C">
    </div>
    <img src="../../../assets/imagenes/Screenshot 2022-11-25 175622.png" id="LOGO">
    <p id="TXT_FILTRO">- Filtros -</p>
    <p id="filtro_venta">Puntos de venta</p>  
    <div class="campo" id="VENTAS"></div>
    <p id="filtro_tipo">Tipo de articulo</p>
    <div class="campo" id="ITEMS"></div>
    <p id="filtro_nombre">Nombre</p>
    <div class="campo" id="NOMBRES"></div>
    <p id="filtro_precio">Precio</p>
    <input type="text" id="precioMIN" >
    <input type="text" id="precioMAX" >
    <p id="MIN">Min</p>
    <p id="MAX">Max</p>
</div>
