
#CUADRO{
    position: fixed;
    top: 0px;
left: 0px;
width: 226px;
height: 1080px;
/* UI Properties */
border: 1px solid var(--unnamed-color-707070);
background: #354C6E 0% 0% no-repeat padding-box;
box-shadow: inset 0px 3px 6px #00000029;
border: 1px solid #707070;
opacity: 1;
}
#filtro_venta{
    position: inherit;
    top: 205px;
    left: 28px;
    width: 306px;
    height: 33px;
    /* UI Properties */
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 20px/28px Segoe UI;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    opacity: 0.8;
}
.campo{
    position: inherit;
width: 180px;
height: 43px;
/* UI Properties */
border: 1px solid var(--unnamed-color-707070);
background: #F0F0F0 0% 0% no-repeat padding-box;
box-shadow: inset 0px 3px 6px #00000066;
border: 1px solid #707070;
border-radius: 15px;
opacity: 1;
}

#VENTAS{
    top: 274px;
left: 28px;
}
#ITEMS{

    top: 374px;
left: 28px;
}
#NOMBRES{

    top: 474px;
left: 28px;
}
#filtro_tipo{
    position: inherit;
    top: 405px;
left: 28px;
width: 326px;
height: 33px;
/* UI Properties */
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal bold 20px/28px Segoe UI;
letter-spacing: 1.25px;
color: #FFFFFF;
opacity: 0.8;
}
#filtro_precio{
    position: inherit;
    top: 507px;
left: 28px;
width: 79px;
height: 33px;
/* UI Properties */
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal bold 20px/28px Segoe UI;
letter-spacing: 1.25px;
color: #FFFFFF;
opacity: 0.8;
}
#filtro_nombre{
    position: inherit;
    top: 306px;
left: 28px;
width: 103px;
height: 33px;
/* UI Properties */
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal bold 20px/28px Segoe UI;
letter-spacing: 1.25px;
color: #FFFFFF;
opacity: 0.8;
}
#precioMIN{
    position: inherit;
    padding: 13px;
top: 572px;
left: 28px;
width: 40px;
height: 17px;
/* UI Properties */
border: 1px solid var(--unnamed-color-707070);
background: #F0F0F0 0% 0% no-repeat padding-box;
box-shadow: inset 0px 3px 6px #00000066;
border: 1px solid #707070;
border-radius: 15px;
opacity: 1;
}

#precioMAX{
    position: inherit;
    padding: 13px;
top: 572px;
left: 138px;
width: 40px;
height: 17px;
/* UI Properties */
border: 1px solid var(--unnamed-color-707070);
background: #F0F0F0 0% 0% no-repeat padding-box;
box-shadow: inset 0px 3px 6px #00000066;
border: 1px solid #707070;
border-radius: 15px;
opacity: 1;

}
#MIN{
    position: inherit;
    top: 620px;
left: 46px;
width: 27px;
height: 20px;
/* UI Properties */
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 15px/20px Segoe UI;
letter-spacing: 0.75px;
color: #FFFFFF;
opacity: 0.8;
}
#MAX{
    position: inherit;
    top: 620px;
left: 156px;
width: 29px;
height: 20px;
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 15px/20px Segoe UI;
letter-spacing: 0.75px;
color: #FFFFFF;
opacity: 0.8;
}
#TXT_FILTRO{
    position: inherit;
    top: 169px;
left: 65px;
width: 123px;
height: 33px;
/* UI Properties */
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 20px/28px Segoe UI;
letter-spacing: 1.25px;
color: #FFFFFF;
opacity: 0.8;
}
#LOGO{
    position: inherit;
    top: 5px;
left: 25px;
width: 179px;
height: 179px;
/* UI Properties */
background: transparent 0% 0% no-repeat padding-box;
border: 5px solid #CB73C3;
border-radius: 50%;
opacity: 1;
}

