<div id="LOGIN">
    <div id="IMAGEN">
        <img src="../../../assets/imagenes/Screenshot 2022-11-25 175622.png" id="IMAGEN">
        <pre id="FRASE_IMAGEN">TU EMPRESA.
            MUCHO NAMOR.
        </pre>
        <pre id="FRASE_IMAGEN_ABAJO">Casos de exitó:
La neta ninguno.
        </pre>   
    </div>
    <div id="RECTANGULO">
        <p id="INVENTORY">INVENTORY MANAGEMENT</p>
        <div id="BOTON_LOGIN_REGISTER">
            <p id="BTN_LOGIN">Log In</p>
            <div id="LINEA"></div>
            <p id="BTN_Register">Register</p>
        </div>
        <div id="INFO_USUARIO">
            <p id="LABEL_CORREO">Correo:</p>
            <input type="text" id="correo" name="correo" required size="10">
            <p id="LABEL_PWD">Contraseña:</p>
            <input type="text" id="PWD" name="password" required size="10">
            <pre id="LABEL_PWDC">Confirmar 
Contraseña:</pre>
            <input type="text" id="PWDC" name="passwordC" required size="10">
        </div>
        
        <div id="BTN_SESSION">
            <p id="LABEL_LOG">Registrarme<p>
        </div>
    </div> 
</div>
        



